.db-check { width:1em; }
.db-column { width: 10em; min-width: 10em}
.db-column button { 
	width: 100%;
	text-align: left;
	font-weight: bold;
}
.db-column button .caret {
	float: right;
	margin-top:0.7em;
}
.stick-right {
	position: fixed;
	right: 0;
}
.action-pad.stick-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: -1px 2px 2px 1px rgba(50, 50, 50, 0.75);
}
.action-pad {
	display: inline-block;
	background-color: #777;
	color:white;
	border-radius: 4px;
	border-radius: 4px;
	padding:2px 4px 2px 6px;
	margin:8px;
	font-weight: normal;
}
ul.action-pad {
	list-style-type: none;
	list-style-position: none;
	padding:2px;
	margin:0;
	font-size: 0.8em;
	white-space: nowrap;
}
.action-pad li {
	display: inline-block;
	padding:3px 6px;
}
.action-pad li+li {
	border-left: 1px solid #888;
}

.sticky-tabs .nav-tabs {
	position: fixed;
	background: white;
	width: 100%;
}
.sticky-tabs .tab-content {
	padding-top: 4em;
}

table.sticky-th thead {
	background: white;
}
/* clean up artifact created by StickyTableHeaders */
.fixed.tableFloatingHeader .db-actions {
	display:none;
}
tr.editting {
	background: silver;
}
tbody > tr > td.db-actions {
	visibility: hidden;
}
tbody > tr.editting > td.db-actions {
	visibility: visible;
}