<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    {{name}}
	<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sort A-Z</a></li>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sort Z-A</a></li>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit column</a></li>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove column</a></li>
  </ul>
</div>
